body{
    background: rgb(10, 24, 46);
}
/* 
.container-top{
    display: flex;
    flex-direction: row;
    margin:10% ;
    gap: 50px;
    height: 300px;
    
    
}

.container-top1{
    background-color: beige;
    text-align: center;
    border-radius: 10px;
    padding: 4% 2%;
}



.span{
    color: rgb(0, 94, 255);
}

@media (max-width:1000px) {
    
.container-top{
    flex-direction: column;
    width: 100;
    gap: 400px;
    
}
} */

/* project2 */

.card-wrapper{
 height: 100vh;
 display: flex;
 justify-content: left;
 align-items: center;
 overflow: hidden;
}

.card-link{
    text-decoration: none;
}

.card-list {
    display:flex;
    gap: 30px;
}

.card-item{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding:10px;
}

.card-image {
    width: 300px;
    height: 300px;
    transition: border-radius 0.4s ease;
}

.card-image:hover{
    border-radius: 50%;
}

.badge{
   color:chocolate
}

.card-title {
    color: rgb(12, 0, 100);
}

.flex{
    display: flex;
    gap: 25px;
}

.cards {
    background:#fff;
    padding: 20px auto;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(91, 120, 193, 0.4), 0 6px 20px rgba(77, 65, 215, 0.4);
}

 .flex {
    animation: sliding 250ms ease-out;
 }

@keyframes sliding {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }   
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}