body{
    background: rgb(218, 212, 212);
}

.container-top{
    display: flex;
    flex-direction: row;
    margin:10% ;
    gap: 50px;
    height: 300px;
    
    
}

.container-top1{
    background-color: beige;
    text-align: center;
    border-radius: 10px;
    padding: 4% 2%;
}



.span{
    color: rgb(0, 94, 255);
}

@media (max-width:1000px) {
    
.container-top{
    flex-direction: column;
    width: 100;
    gap: 400px;
    
}
}

